<% if (theme.swiftype_key) { %>
  <div class="form-group has-success has-feedback" id="site_search">
    <form class="site-search-form">

    </form>
  </div>  
<% } else { %>
  <div id="site_search">
   <div class="form-group">


   </div>  
  <div id="local-search-result"></div>
  </div>
<% } %>