<link type="text/css" href="/fancybox/jquery.fancybox.css" rel="stylesheet">
<div class="instagram">
    <section class="archives album">
        <ul class="img-box-ul">
        </ul>
    </section>
</div>

<script src="<%- config.root %>js/photo.js"></script>
<script src="/fancybox/jquery.fancybox.js"></script>
<script src="/js/jquery.lazyload.js"></script>
<script>

</script>

<script type="text/javascript">

    console.log(photo().init())
</script>
