.header { background: $head-bg; }

.header { background: #f5f5f5; }

.header-inner { position: relative; }

.header-inner {
  margin-bottom: 40px;
  padding: 65px 0;
}


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
