.post-more-link {
  margin-top: 20px;
  text-align: right;


}
.post-more-link a {
  padding: 0;
  font-size: 14px;
  color: #666;
  background: none;
  border: none;
  border-bottom: 2px solid #666;
  transition-property: border;
}
.post-more-link {
  margin-top: 50px;


  .btn:hover {
    @extend .btn:hover;
  }
}
